# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
tfplan
plan.txt
terraform/plan.json
terraform/lambda/*.zip

# macOS
.DS_Store

# Python
__pycache__/
.venv/

# Local artifacts
*.tar.gz
*.sig.bundle
receipt.json
